.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark {
  color: aliceblue;
  padding-top: 90px;
  z-index: 2;
}
.section-subtitle_theme_dark {
  color: aliceblue;
  padding-top: 20px;
  z-index: 2;
}
.table__theme_dark {
  padding-bottom: 90px;
  padding-top: 80px;
  margin-bottom: 0;
  z-index: 2;
}
.table__cell_theme_dark {
  width: 200px;
  padding: 0;
  margin-bottom: 80px;
  display: flex;
  align-content: flex-start;
  z-index: 2;
}
.table__heading_theme_dark {
  color: aliceblue;
  padding-bottom: 20px;
  z-index: 2;
}
.table__text_theme_dark {
  color: aliceblue;
  z-index: 2;
}
.kaufman__triangle {
  position: absolute;
  top: -20px;
  right: -140px;
  animation: rotation linear 20s infinite;
  z-index: 1;
}