.kaufman__triangle {
  position: absolute;
  background-image: url(../../../../images/triangle.svg);
  background-repeat: no-repeat;
  top: 0px;
  right: -210px;
  height: 1006px;
  width: 995px;
  z-index: 1;
}