.footer {
  background-color: #1f1f1f;
  min-height: 350px;
}
.footer__columns {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 350px;
  padding: 60px 0 40px 0;
  margin: auto;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}
.logo_place_footer {
  opacity: 0.33;
}
.footer__author {
  position: absolute;
  bottom: 58px;
  color: aliceblue;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading{
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
}
.footer__column-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.footer__link {
  color: aliceblue;
  padding-bottom: 15px;
}